<!doctype html>
{% if photos %}
<h2>Here are your photos</h2>
    <ul>
    {% for photo in photos %}
        <li>
        <img src='data:image/jpg;base64, {{ base64.b64encode(photo[0]).decode("ascii") }}'/></li>
    <form method="POST" enctype="multipart/form-data" action="/picture">
        <input type="hidden" name="picture" value={{photo[1]}}>
        <input type="hidden" name="albumid" value={{photo[3]}}>
        <input type="submit" value="View" />
    </form>
    {% endfor %}
    </ul>
{%else%}
    <h2>No photos in this album</h2>
{% endif %}