<img src='data:image/jpg;base64, {{ base64.b64encode(photo[0]).decode("ascii") }}'/></li>
<h2>{{photo[2]}}</h2>
<h2>Tags:</h2>
{% if tags %}
    {% for tag in tags %}
    <h2>{{tag[0]}}</h2>
    {%endfor%}
{%else%}
<h2>No tags</h2>
{% endif %}
<h2>{{likes[0]}} likes</h2>
<form method="POST" enctype="multipart/form-data" action="/album">
    <input type="hidden" name="albumid" value={{photo[3]}}>
    <input type="submit" value="Go to Album" />
</form>
<form method="POST" enctype="multipart/form-data" action="/likepicture">
    <input type="hidden" name="pictureid" value={{photo[1]}}>
    <input type="hidden" name="albumid" value={{photo[3]}}>
    <input type="submit" value="Like" />
</form>
<form method="POST" enctype="multipart/form-data" action="/unlikepicture">
    <input type="hidden" name="pictureid" value={{photo[1]}}>
    <input type="hidden" name="albumid" value={{photo[3]}}>
    <input type="submit" value="Unlike" />
</form>
{%if owned%}
<form method="POST" enctype="multipart/form-data" action="/photodelete">
    <input type="hidden" name="pictureid" value={{photo[1]}}>
    <input type="hidden" name="albumid" value={{photo[3]}}>
    <input type="submit" value="Delete" />
</form>

<form method="POST" enctype="multipart/form-data" action="/tagadd">
    <input type="hidden" name="pictureid" value={{photo[1]}}>
    <input type="hidden" name="albumid" value={{photo[3]}}>
    <label for="tag">Tag to add</label>
    <input type="text" name="tag" required='true' /><br />
    <input type="submit" value="Add Tag" />
</form>

<form method="POST" enctype="multipart/form-data" action="/tagremove">
    <input type="hidden" name="pictureid" value={{photo[1]}}>
    <input type="hidden" name="albumid" value={{photo[3]}}>
    <label for="tag">Tag to Remove</label>
    <input type="text" name="tag" required='true' /><br />
    <input type="submit" value="Remove Tag" />
</form>

{% else %}
<form method="POST" enctype="multipart/form-data" action="/setcomment">
    <input type="hidden" name="pictureid" value={{photo[1]}}>
    <input type="hidden" name="albumid" value={{photo[3]}}>
    <input type="text" name="comment" placeholder="Enter comment">
    <input type="submit" value="Make Comment" />
</form>
{% endif %}
{%if comments%}
    {% for comment in comments %}
   <li><h1>{{comment[1]}} said:</h1>
    <h1>{{comment[0]}}</h1>
    <hi>on {{comment[2]}}</hi></li>   
    {% endfor %}
{% else %}
<h1>No Comments</h1>
{% endif %}