<head> 
    <title>Search for pictures by tags!</title>
</head>
    <body>
        <div class="title">
            <h1>You can search by one or more tag; each tag is a single word and all lowercase. Separate tags with a comma,no spaces.</h1>
        </div>

        <li><a href='/'>Home</a></li>
        <li>Go to <a href='/profile'>profile?</a></li>
        <li>See the <a href='/popular_tags'>Top Ten</a> tags</li>
        <br>
        

            <form method="post" action="/tag_search">
            <label for="tags">Enter tag(s):</label>
            <input type="text" name="tags" required='true' /><br />
            <input type="submit" value="Search" />
            </form>

    </body>
    {% if tags %}
    <h2>Tags searched:</h2>
    {% for tag in tags %}
        <li>{{tag}}</li>
    {% endfor %}
    {% endif %}
    {% if photos %} 
    <ul>
    {% for photo in photos %}
        <li>
        <img src='data:image/jpg;base64, {{ base64.b64encode(photo[0]).decode("ascii") }}'/></li>
        <form method="POST" enctype="multipart/form-data" action="/picture">
            <input type="hidden" name="picture" value={{photo[1]}}>
            <input type="hidden" name="albumid" value={{photo[3]}}>
            <input type="submit" value="View" />
        </form>
    {% endfor %}
    </ul>
    {% endif %}

<head>